@page
@model IndexModel
@{
    ViewData["Title"] = "TEST";
}

@* Nothing Here *@
<main role="main" id="app">
</main>

@section scripts {
    <!-- This line includes your "main.ts" entrypoint -->
    <script type="module" vite-src="~/main2.tsx"></script>
}

@section CSS {
    @* This line includes the style from the "main.ts" entrypoint *@
    <link rel="stylesheet" vite-href="~/main2.tsx" asp-append-version="true" />
}
